<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Product</title>
</head>
<body>
    <h2 style="color: green;">Insert product successfully!</h2>
    <ul>
        <li>Name : {{product.name}} Price: {{product.price}} 
            - category {{product.category}}
        </li>
    </ul>
    <hr>
    <ul>
        {{#each allProducts}}
            <li>
                Name: {{name}} - Category: {{category}}
            </li>
        {{/each}}      
    </ul>
   
</body>
</html>